div.right>button{
    background-color: #75BF7A;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 7px 16px 9px 16px;
}
.first_section{
    border: 2px solid yellowgreen;
}
.left>.text-box>p{
    color: #9E9DA2 ;
}