div.right>button{
    background-color: #75BF7A;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 7px 16px 9px 16px;
}
.first_section{
    border: 2px solid yellowgreen;
}
.left>.text-box>p{
    color: #9E9DA2 ;
}

/* APPLY BUTTON  */

.apply-btn{
    /* border: 2px solid red; */
    background-color: #75BF7A;
}
.apply-btn>.btns>input::placeholder{
    font-size: 14px;
}
.apply-btn>.btns>button{
    font-size: 14px;
}

/* BENEFITS SECTION  */
.benefits-section{
    border: 2px solid teal;
}
.benefits-section>.row>h2>span{
    color: #75BF7A;
}