.tere-color{
    color: #75BF7A;
}
.text-color{
    color: #9E9DA2;
}
/* div.right>button{
    background-color: #75BF7A;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 7px 16px 9px 16px;
}
.first_section{
    border: 2px solid yellowgreen;
}
.left>.text-box>p{
    color: #9E9DA2 ;
} */
.first-section>.row>.col>.btns>img{
    width: 100px;
}

/* APPLY BUTTON  */

.apply-btn{
    /* border: 2px solid red; */
    background-color: #75BF7A;
}
.apply-btn>.row>.col>input::placeholder{
    font-size: 12px;
}
.apply-btn>.row>.col>input{
    border-radius: 3px;
}
.apply-btn>.row>.col>button{
    font-size: 12px;
    border-radius: 3px;
    
}
@media screen and (max-width: 767px){
    .apply-btn>.row>.col>button{
        width: 100%;
    }
  }
/* .apply-btn>.btns>button, .apply-btn>.btns>input::placeholder{
    font-size: 12px !important;
} */
.apply-btn>.row>.col>p{
    color: #fff;
}

/* BENEFITS SECTION  */
/* .benefits-section{
    border: 2px solid teal;
}
.benefits-section>.row>h2>span{
    color: #75BF7A;
}
.row{
    border: 2px solid orangered;
}
.benefits-section>.row>.content-img>img{
    width: 100px;
    height: 150px;
    border: 2px solid greenyellow;
} */
/* .benefits-section span{
    
} */
.benefit-section img{
    width: 250px;
    height: 200px;
    object-fit: contain;
    /* border: 2px solid greenyellow; */
}
.row{
    /* border: 2px solid orangered; */
}
.col{
    /* border: 2px solid purple; */
}
/* FOOTER SECTION  */
.footer{
    /* border: 2px solid greenyellow; */
}
.footer>.row>.col>p, .footer>p{
    color: #8B8BA5;
    font-size: 15px;
    line-height: 1em;
}
.footer>.row>.col>img{
    width: 100px;
}